// Colors
$pink: #ea4c89;
$charcoal: #444444;
$link_blue: #3a8bbb;
$jobs_hiring: #c142a0;
$teams: #00b6e3;
$playbook: #66cc99;
$slate: #9da3a5;

// Default size to fonts
$browser-context: 16;

// Font familly defaults
$roboto: 'Roboto', 'Ubuntu', 'Source Sans Pro', Arial, sans-serif;
$ubuntu: 'Ubuntu', 'Source Sans Pro', 'Ubuntu', Arial, sans-serif;
$source: 'Source Sans Pro', 'Ubuntu', 'Roboto', Arial, sans-serif;
