/* You can add global styles to this file, and also import other style files */
$pink: #ea4c89;
$charcoal: #444444;
$link_blue: #3a8bbb;
$jobs_hiring: #c142a0;
$teams: #00b6e3;
$playbook: #66cc99;
$slate: #9da3a5;
